* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

html {
  font: 400 100%/1.5 "Helvetica", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 .5rem;
  line-height: 1.2; }

h1 {
  font-size: 225%; }

h2 {
  font-size: 200%; }

h3 {
  font-size: 175%; }

h4 {
  font-size: 150%; }

h5 {
  font-size: 125%; }

h6 {
  font-size: 100%; }

p {
  margin-bottom: 1rem;
  max-width: 38rem;
  word-wrap: break-word;
  text-rendering: optimizeLegibility; }
  p:last-of-type {
    margin-bottom: 0; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

a {
  text-decoration: none; }

ul, ol {
  list-style-position: inside;
  padding: 0;
  margin: .5rem 0; }
  ul li ul, ol li ul {
    margin-left: 1rem; }

blockquote {
  border-left: 5px solid #333333;
  padding: 1.5rem;
  font-style: italic;
  margin: 1rem 0;
  background: rgba(51, 51, 51, 0.3);
  color: white; }
  blockquote p {
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0 0 .5rem; }

html {
  background: #c3dde4; }

p {
  font-weight: 400; }

.main {
  max-width: 38rem;
  padding: 1rem;
  margin: 2rem auto; }
  .main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    color: white; }

a {
  color: white;
  /*     &:hover { color: $red; } */ }

blockquote {
  color: white; }
  blockquote p {
    color: white !important; }

.intro {
  max-width: 45rem;
  margin: 2rem auto;
  color: white;
  padding: 1rem;
  display: flex; }
  .intro h1 {
    font-weight: bold;
    font-size: 7rem;
    line-height: 1;
    color: #3990a4; }
    @media (max-width: 40rem) {
      .intro h1 {
        font-size: 3rem; } }
  .intro h2 {
    font-size: 4rem;
    font-weight: bold; }
    @media (max-width: 40rem) {
      .intro h2 {
        font-size: 1.75rem; } }
  @media (max-width: 40rem) {
    .intro h3 {
      font-size: 1rem; } }
  .intro code {
    color: #3990a4; }
  .intro aside {
    flex: 1;
    padding: .5rem; }
    .intro aside img {
      max-width: 100%; }
  .intro article {
    flex: 3;
    padding: .5rem; }
  .intro:after {
    content: "";
    display: table;
    clear: both; }
  .intro p {
    max-width: 35rem; }
  @media (max-width: 40rem) {
    .intro article {
      width: 100%; }
    .intro aside {
      width: 100%;
      float: right;
      text-align: center; } }

.btn {
  padding: 1rem 2rem;
  background: #3990a4;
  display: inline-block;
  font: 700 100%/1.4 "Helvetica", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 0;
  border-radius: .5rem;
  margin: .5rem .25rem;
  transition: all 375ms linear; }
  .btn:hover, .btn:focus {
    background: #346674; }
  @media (max-width: 40rem) {
    .btn {
      display: block;
      width: 100%;
      margin: 1rem auto 0; } }
