$liteblue: #c3dde4;
$darkblue: #3990a4;

html {
    background: $liteblue;
}

.main {
    max-width: 40rem;
    margin: 2rem auto;
    h1, h2, h3, h4, h5, h6 { color: white; }
    p {
        color: $darkblue;
    }
}

blockquote {
    color: white;
    p { color: white !important; }
}