$liteblue: #c3dde4;
$darkblue: #3990a4;
$red: #b2222a;

html {
    background: mix($liteblue, $darkblue, 80%);
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

p { font-weight: 400; }

.main {
    max-width: 38rem;
    padding: 1rem;
    margin: 2rem auto;
    h1, h2, h3, h4, h5, h6 { color: white; }
}
a {
    color: white;
}
blockquote {
    color: white;
    p { color: white !important; }
}

.intro {
    max-width: 38rem;
    margin: 2rem auto;
    color: white;
    padding: 1rem;
    header {
        // text-align: center;
    }
    footer {
        margin-top: 2rem;
    }
    h1 {
        line-height: 1;
        color: $darkblue;
        @media (max-width:40rem) { font-size: 2.5rem; }
    }
    code { color: $darkblue; }
    aside {
        position: relative;
        img {
            max-width: 15.6rem;
            display: block;
            margin: 0 0 0 auto;
        }
        @media (max-width:40rem) {
            position: static;
        }
    }
    article {
        position: absolute;
        padding: 1rem 1rem 0;
        top: 5rem;
    }
    p {
        max-width: 35rem;
        padding: 0 0 2rem;
        background: mix($liteblue, $darkblue, 80%);
        margin-bottom: 0;
    }
    @media (max-width:40rem) {
        article { max-width: 100%; }
    }
}

.btn {
    padding: 1rem 2rem;
    display: inline-block;
    font-weight: 400;
    color: $darkblue;
    border: 2px solid;
    border-radius: .5rem;
    margin: .5rem .25rem;
    transition: all 375ms linear;
    &:hover, &:focus { background: darken($liteblue, 50%); color: white; }
    @media (max-width:40rem) {
        display: block;
        max-width: 100%;
        margin: 1rem auto 0;
    }
}
