* {
  padding: 0;
  margin: 0;

  &,
  &:before
  &:after {
    box-sizing: inherit;
  }
}

html { box-sizing: border-box; }

iframe { border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

input,
textarea,
button {
  font-family: inherit;
}
