// utilities for type

.u-caps { text-transform: uppercase; }
.u-lower { text-transform: lowercase; }
.u-ttn { text-transform: none; }

$weights: 300, 400, 700;
@each $weight in $weights {
  .w-#{$weight} { font-weight: #{$weight}; }
}

@for $i from 1 through 3 {
  .u-txt-col--#{$i} {
    column-count: $i;
    column-width: $w/$i;
    column-gap: $baseFontSize*2;
  }
}


$dirs: left, right, center;
@each $dir in $dirs {
  .u-#{$dir} { text-align: #{$dir}; }
}


@for $i from 0 through 5 {
  .u-lt-#{$i} { letter-spacing: #{$i}px; }
}
